@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import "../../styles/global-styles";
@mixin respond($breakpoint) {
  @if ($breakpoint == x-large) {
    @media (min-width: 1250px) {
      @content
    }
  }
  @if ($breakpoint == large) {
    @media (max-width: 1250px) {
      @content
    }
  }
  @if ($breakpoint == medium) {
    @media (max-width: 900px) {
      @content
    }
  }
  @if ($breakpoint == small) {
    @media (max-width: 700px) {
      @content
    }
  }
}
header {
  $totalWidth: 1440;
  height: 72px;
  @include respond(small){
    height: 37px;
  }
  background: #3A80BA;
  color: #FFFFFF;
  font-size: 40px;
  @include respond(small) {
    font-size: 20px;
  }
  padding-left: 130/$totalWidth*100%;
}

footer {
  $totalWidth: 1440;
  position: absolute;
  bottom: 0;
  background: #1C3B55;
  height: 57px;
  @include respond(small){
    height: 30px;
  }
  @extend %flex-centered-vertically;
  .flex-container {
    width: 100%;
    @extend %flex-centered-vertically;
    justify-content: space-between;
    padding: 0 130/1440*100%;
    @include respond(small) {
      padding: 0 10px;
    }
    font-size: 16/$totalWidth*100vw;
    @include respond(small) {
      font-size: 8px;
    }
    color: #FFFFFF;
    > div {
      width: 33%;
      @extend %flex-centered-vertically;
      &:first-child{
        font-size: 32/$totalWidth*100vw;
        @include respond(small) {
          font-size: 16px;
        }
      }
      &:nth-child(2) {
        justify-content: center;
        text-align: center;
      }
      &:nth-child(3) {
        justify-content: flex-end;
      }
    }
  }
}

.MuiBreadcrumbs-li {
  a, p {
    font-size: 16px;
    @include respond(small) {
      font-size: 12px;
    }
  }
  p {
    color: #3A80BA;

  }
}

#spinner-container {
  z-index: 1;
  height: 100vh;
  width: 100vw;
  position: absolute;
  #spinner-icon {
    width: fit-content;
    margin: auto;
    margin-top: 39vh;
    font-size: 3rem;
    animation-name: spin;
    animation-duration: 1700ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  @keyframes spin {
    from {
      transform:rotate(0deg);
    }
    to {
      transform:rotate(360deg);
    }
  }
}