@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import "../../styles/global-styles";

#users {
  $totalWidth: 1440;
  height: fit-content;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  padding-bottom: 57px;
  @include respond(small){
    padding-bottom: 30px;
  }
  .flex-container {
    @extend %flex-centered-vertically;
  }
  main {
    margin: 16/$totalWidth*100% 130/$totalWidth*100%;
    @include respond(small) {
      margin: 3px;
    }
    overflow: hidden;
    @include respond(medium){
      overflow: scroll;
    }
    > h3 {
      margin-top: 24/$totalWidth*100%;
      font-size: 32px;
      @include respond(small) {
          font-size: 16px;
      }
    }
    table {
      width: 100%;
      border-radius: 5%;
      text-align: center;
      margin-top: 16/$totalWidth*100%;
      thead {
        > tr{
          th {
            height: 48px;
            @include respond(small) {
              height: 25px;
            }
            background: #3A80BA;
            color: #FFFFFF;
            &:first-child{
              border-top-left-radius: 5px;
            }
            &:last-child {
              border-top-right-radius: 5px;
            }
            h3 {
              font-size: 16px;
              @include respond(small) {
                font-size: 10px;
              }
            }
          }
        }
      }
      tbody {
        tr {
          &:nth-child(odd) {
            background: #F1F1F1;
          }
          &:last-child {
            td {
              &:first-child {
                border-bottom-left-radius: 5px;
              }
              &:last-child {
                 border-bottom-right-radius: 5px;
               }
            }
          }
          td {
            height: 32px;
            @include respond(small) {
              height: 16px;
            }
            font-size: 16px;
            @include respond(small) {
              font-size: 12px;
            }
          }}
      }

    }
    #pagination {
      margin-top: 24/$totalWidth*100%;
      width: 100%;
      .MuiPagination-root {
        @extend %flex-centered-horizontally;
        .Mui-selected {
          background-color: #3A80BA;
        }
        button {
          font-family: 'Montserrat', sans-serif;
          height: 48px;
          width: 48px;
          font-size: 16px;
          @include respond(small) {
            height: 20px;
            width: 20px;
            font-size: 10px;
        }
        }
      }
    }
  }
}