@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import "../../styles/global-styles";


@mixin respond($breakpoint) {
  @if ($breakpoint == x-large) {
    @media (min-width: 1250px) {
      @content
    }
  }
  @if ($breakpoint == large) {
    @media (max-width: 1250px) {
      @content
    }
  }
  @if ($breakpoint == medium) {
    @media (max-width: 900px) {
      @content
    }
  }
  @if ($breakpoint == small) {
    @media (max-width: 500px) {
      @content
    }
  }
}

#homepage {
  $totalHeight: 1503;
  $totalWidth: 1440;
  $topContainerHeight: 655;
  position: relative;
  width: 100%;
  height: ($totalHeight/$totalWidth)*100vw;
  @include respond(x-large) {
    $totalHeight: 1503;
    height: ($totalHeight/$totalWidth)*100vw;
  }
  @include respond(large) {
    $totalHeight: 2600;
    height: ($totalHeight/$totalWidth)*100vw;
  }
  @include respond(medium) {
    $totalHeight: 2700;
    height: ($totalHeight/$totalWidth)*100vw;
  }
  @include respond(small) {
    $totalHeight: 3000;
    height: ($totalHeight/$totalWidth)*100vw;
  }
  @extend %flex-centered-horizontally;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;

  b {
    font-weight: 700;
  }

  > div {
    //#top-container
    &:first-child {
      position: relative;
      height: ($topContainerHeight/$totalHeight)*100%;
      @include respond(x-large) {
        $totalHeight: 1503;
        height: ($topContainerHeight/$totalHeight)*100%;
      }
      @include respond(large) {
        $totalHeight: 2600;
        height: ($topContainerHeight/$totalHeight)*100%;
      }
      @include respond(medium) {
        $totalHeight: 2700;
        height: ($topContainerHeight/$totalHeight)*100%;
      }
      @include respond(small) {
        $totalHeight: 3000;
        height: ($topContainerHeight/$totalHeight)*100%;
      }
      background: url(../../images/top-background.svg) top;
      background-repeat: no-repeat;
      background-size: 100%;
      width: 100vw;

      > div {
        //AppCo
        &:nth-child(1) {
          position: absolute;
          width: 136/$totalWidth*100%;
          height: 49/$totalHeight*100%;
          @include respond(x-large) {
            $totalHeight: 1503;
            height: 49/$totalHeight*100%;
          }
          @include respond(large) {
            $totalHeight: 2600;
            height: 49/$totalHeight*100%;
          }
          @include respond(medium) {
            $totalHeight: 2700;
            height: 49/$totalHeight*100%;
          }
          @include respond(small) {
            $totalHeight: 3000;
            height: 49/$totalHeight*100%;
          }
          left: 130/$totalWidth*100%;
          top: 24/$topContainerHeight*100%;
          font-size: (40/$totalWidth)*100vw;
          color: #FFFFFF;
        }
      }

      > div {
        //Brainstorm
        &:nth-child(2) {
          position: absolute;
          height: 118/$topContainerHeight*100%;
          width: 586/$totalWidth*100%;
          left: 130/$totalWidth*100%;
          top: 121/$topContainerHeight*100%;
          font-size: 48/$totalWidth*100vw;
          line-height: 59/$totalWidth*100vw;
          text-align: left;
          color: #FFFFFF;
        }
      }

     > div {
       //Our design
       &:nth-child(3) {
         position: absolute;
         width: 580/$totalWidth*100%;
         height: 56/$topContainerHeight*100%;
         left: 130/$totalWidth*100%;
         top: 263/$topContainerHeight*100%;
         font-size: (20/$totalWidth)*100vw;
         line-height: (28.4/$totalWidth)*100vw;
         color: #FFFFFF;
       }
     }

      > div {
        //Button to users
        &:nth-child(4) {
          position: absolute;
          width: 154/$totalWidth*100%;
          height: 56/$topContainerHeight*100%;
          left: 130/$totalWidth*100%;
          top: 351/$topContainerHeight*100%;
          background: #FFFFFF;
          border-radius: 8px;
          color: #3A80BA;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 16/$totalWidth*100vw;
          &:hover {
            cursor: pointer;
            background-color: #f0eaf5;
          }
        }
      }

     > img {
        //ellipse
        &:nth-child(5) {
          position: absolute;
          height: 19/$topContainerHeight*100%;
          width: 321/$totalWidth*100%;
          left: 910/$totalWidth*100%;
          top: 614/$topContainerHeight*100%;
          background: #000000;
          opacity: 0.3;
          filter: blur(10px);
          border-radius: 50%;
        }
      }

     > img {
        //mobile
        &:nth-child(6) {
          position: absolute;
          //left: 64.71%;
          ////right: 16.1%;
          //top: 4.79%;
          ////bottom: 58.03%;
          height: 559/$topContainerHeight*100%;
          width: 280/$totalWidth*100%;
          left: 930/$totalWidth*100%;
          top: 72/$topContainerHeight*100%;
        }
      }
    }
  }
  > div {
    //why small
    &:nth-child(2) {
      position: absolute;
      width: 580/$totalWidth*100%;
      height: 78/$totalHeight*100%;
      @include respond(x-large) {
        $totalHeight: 1503;
        height: 78/$totalHeight*100%;
      }
      @include respond(large) {
        $totalHeight: 2600;
        height: 78/$totalHeight*100%;
      }
      @include respond(medium) {
        $totalHeight: 2700;
        height: 78/$totalHeight*100%;
      }
      @include respond(small) {
        $totalHeight: 3000;
        height: 78/$totalHeight*100%;
      }
      top: 671/$totalHeight*100%;
      @include respond(x-large) {
        $totalHeight: 1503;
        top: 671/$totalHeight*100%;
      }
      @include respond(large) {
        $totalHeight: 2600;
        top: 671/$totalHeight*100%;
      }
      @include respond(medium) {
        $totalHeight: 2700;
        top: 671/$totalHeight*100%;
      }
      @include respond(small) {
        $totalHeight: 3000;
        top: 671/$totalHeight*100%;
      }
      color: #1A1A1A;
      font-size: 32/$totalWidth*100vw;
      line-height: 39/$totalWidth*100vw;
      text-align: center;

    }
  }
  > div {
    //our design
    &:nth-child(3) {
      position: absolute;
      width: 780/$totalWidth*100%;
      height: 56/$totalHeight*100%;
      @include respond(x-large) {
        $totalHeight: 1503;
        height: 56/$totalHeight*100%;
      }
      @include respond(large) {
        $totalHeight: 2600;
        height: 56/$totalHeight*100%;
      }
      @include respond(medium) {
        $totalHeight: 2700;
        height: 56/$totalHeight*100%;
      }
      @include respond(small) {
        $totalHeight: 3000;
        height: 56/$totalHeight*100%;
      }
      top: 773/$totalHeight*100%;
      @include respond(x-large) {
        $totalHeight: 1503;
        top: 773/$totalHeight*100%;
      }
      @include respond(large) {
        $totalHeight: 2600;
        top: 773/$totalHeight*100%;
      }
      @include respond(medium) {
        $totalHeight: 2700;
        top: 773/$totalHeight*100%;
      }
      @include respond(small) {
        $totalHeight: 3000;
        top: 773/$totalHeight*100%;
      }
      font-size: 20/$totalWidth*100vw;
      line-height: 28.4/$totalWidth*100vw;
      text-align: center;
      color: #7E7E7E;
    }
  }
  >div {
    //products container
    &:nth-child(4) {
      position: absolute;
      top: 869/$totalHeight*100%;
      @include respond(x-large) {
        $totalHeight: 1503;
        top: 869/$totalHeight*100%;
      }
      @include respond(large) {
        $totalHeight: 2600;
        top: 869/$totalHeight*100%;
      }
      @include respond(medium) {
        $totalHeight: 2700;
        top: 869/$totalHeight*100%;
      }
      @include respond(small) {
        $totalHeight: 3000;
        top: 869/$totalHeight*100%;
      }
      width: ($totalWidth - 260)/$totalWidth*100%;
      @extend %flex;
      @media only screen and (max-width: 1250px){
        justify-content: center;
      }
      justify-content: space-between;
      height: 323/$totalHeight*100%;
      @include respond(x-large) {
        $totalHeight: 1503;
        height: 323/$totalHeight*100%;
      }
      @include respond(large) {
        $totalHeight: 2600;
        height: 323/$totalHeight*100%;
      }
      @include respond(medium) {
        $totalHeight: 2700;
        height: 323/$totalHeight*100%;
      }
      @include respond(small) {
        $totalHeight: 3000;
        height: 323/$totalHeight*100%;
      }
      .product {
        position: relative;
        width: 380/($totalWidth - 260)*100%;
        height: 100%;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
        border-radius: 32px;
        @media only screen and (max-width: 1250px){
          width: 65%;
          height: auto;
          margin: 15px 0;
          padding-bottom: 15px;
        }
        > div {
          //img container
          &:first-child {
            width: 100%;
            @extend %flex-centered-horizontally;
            margin-top: 48/380*100%;
            @media only screen and (max-width: 1100px){
              margin-top: 15px;
            }
            > img {
              width: 106/380*100%;
            }
          }
        }
        > h3 {
          width: 100%;
          @extend %flex-centered-horizontally;
          margin-top: 40/380*100%;
          font-weight: 600;
          font-size: 24/$totalWidth*100vw;
          line-height: 29/$totalWidth*100vw;
        }
        > p {
          width: 100%;
          @extend %flex-centered-horizontally;
          margin-top: 16/380*100%;
          font-size: 16/$totalWidth*100vw;
          line-height: 22.72/$totalWidth*100vw;
          color: #7E7E7E;
          text-align: center;
        }
      }
    }
  }
  footer {
    position: absolute;
    bottom: 0;
    height: 183.6/$totalHeight*100%;
    @include respond(x-large) {
      $totalHeight: 1503;
      height: 183.6/$totalHeight*100%;
    }
    @include respond(large) {
      $totalHeight: 2600;
      height: 183.6/$totalHeight*100%;
    }
    @include respond(medium) {
      $totalHeight: 2700;
      height: 183.6/$totalHeight*100%;
    }
    @include respond(small) {
      $totalHeight: 3000;
      height: 183.6/$totalHeight*100%;
    }
    width: 100%;
    @extend %flex-centered-horizontally;
    background: url(../../images/footer.svg) bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    > form {
      position: absolute;
      @extend %flex-centered-vertically;
      bottom: 93.46/183.46*100%;
      width: 579/$totalWidth*100%;
      height: 64/183.46*100%;
      > input {
        &:first-child {
          height: 100%;
          width: 100%;
          border: 1px solid #F1F1F1;
          box-sizing: border-box;
          border-radius: 10px;
          padding-right: 176/579*100%;
          font-size: 16/$totalWidth*100vw;
          font-family: 'Montserrat', sans-serif;
          padding-left: 19/579*100%;
          color: #B9B9B9;

        }
      }
      > input {
        //subscribe button
        &:nth-child(2) {
          margin-left: -179/579*100%;
          width: 176/579*100%;
          height: 56/(64)*100%;
          background: #3A80BA;
          border-radius: 8px;
          font-size: 16/$totalWidth*100vw;
          font-family: 'Montserrat', sans-serif;
          color: #FFFFFF;
          border: none;
          &:hover {
            cursor: pointer;
            background-color: #f0eaf5;
          }
        }
      }
    }
    .flex-container {
      position: absolute;
      bottom: 30/183.46*100%;
      @extend %flex-centered-vertically;
      justify-content: space-between;
      width: 100%;
      padding: 0 130/1440*100%;
      font-size: 16/$totalWidth*100vw;
      color: #FFFFFF;
      > div {
        width: 33%;
        @extend %flex-centered-vertically;
        &:first-child{
          font-size: 32/$totalWidth*100vw;
        }
        &:nth-child(2) {
          justify-content: center;
        }
        &:nth-child(3) {
          justify-content: flex-end;
        }
      }
    }
  }
}